doctype html
html(lang="en")
	head
		title Kuwait &amp; Me

		block vars

		//- WARNING: for iOS 7, remove the width=device-width and height=device-height
		//- attributes. See https://issues.apache.org/jira/browse/CB-4323
		meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
		meta(name="format-detection", content="telephone=no")
		meta(name="msapplication-tap-highlight", content="no")
		link(rel='stylesheet', href='style.css')

	body(id="#{bodyid}")
		include ./include/header.jade
		main
			ul#messages
			#main-container
				block content
		include ./include/footer.jade