doctype html
html
  head
    title Phonegap

    meta(name="viewport", content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    //- http://content-security-policy.com
    meta(http-equiv="Content-Security-Policy"
      content="default-src * 'self' cdvfile://* www.google-analytics.com ajax.googleapis.com; style-src 'unsafe-inline' 'self' cdvfile://*; script-src 'self' 'unsafe-eval' cdvfile://* https:")

    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="msapplication-tap-highlight", content="no")

    //- Add Cordova script
    script(type="text/javascript", src="cordova.js")

    //- https://github.com/markmarijnissen/cordova-app-loader
    script(type="text/javascript"
      manifest="manifest.json"
      server="http://192.168.1.103:8000/"
      src="build/bootstrap.js"
      timeout="15000")

  body.initializing(id="{{ bodyid }}"
    ng-class="bodyClasses"
    ng-style="bodyStyles")

    section(notifications)
    header
    section(auth)
    modal

    #page-loader
      #page-loading-bar

    //- Here goes the main content of the site
    main(ui-view)